@charset "UTF-8";

body{
    background-color: #000000;
    color: #ffffff;
}
.wrap{
    max-width: 800px;
    margin: 0 auto;
    max-height: 100vh;
}
#window{
background-color: black;
display: flex;
min-height: 30vh;
padding: 0;
}

.act-btn{
    margin-bottom: 15px;
}
.statusWin{
    width: 250px;
    height: auto;
    padding: 0;
    padding-left: 10px;
}
#selwin{
    display: flex;
    width: 30%;
    height: auto;
    flex-direction: column;
    margin: 0;
    padding-left: 5px;
    padding-right: 0;
}
#meswin{
    margin: 0;
    width: 70%;
}
.act-btn{
    text-align: center;
}
#ehpbar,#hpbar{
    margin-top: 0;
    margin-left: -5px;
    width: 200px;
    height: 30px;
}
#eHp,#hp{
    margin-bottom: 0;
}
#eSt{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    align-items: self-end;
    margin-bottom: -130px;
}
#st{
    
}
#eSt img{
    position: absolute;
    top: 120px;
    margin-right: 120px;
}

#st img{
    margin-top: 120px;
    margin-bottom: -70px;
    margin-left: 100px;
}
.popClose{
    display: none;
}